html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }

.selector-for-some-widget {
    box-sizing: content-box;
    }


/* NAVBAR /////////////////////////////////////////////////////////////////////////////////////////////*/

/* DROPDOWN */
.dropdown-toggle::after {
  display: none !important;
}
/* .navbar-icon-change .navbar-icon-dropup {
  display: none!important;
}
.navbar-icon-change:active .navbar-icon-dropdown {
  display: none!important;
}
.navbar-icon-change:active .navbar-icon-dropup {
  display: flex!important;
} */

/* CHANGE COLOR ACTIVE LINKS BOOTSTRAP */
.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item .nav-link:active,
.navbar-light .nav-item .nav-link:focus,
.navbar-light .nav-item:hover .nav-link {
    color: #006567!important;
}

.navbar-light .nav-item.active .nav-link .navbar-selector-before,
.navbar-light .nav-item .nav-link:active .navbar-selector-before,
.navbar-light .nav-item .nav-link:focus .navbar-selector-before,
.navbar-light .nav-item:hover .navbar-selector-before {
  background-color: #feb62d!important;
}

.navbar-dropdown-menu-text {
  color: #006567!important;
}
.navbar-dropdown-menu-separator {
  background-color: #feb62d!important;
}

/* MEGA DROPDOWN FULLSIZE */
.dropdown-menu {
  border-radius:  0px!important;
  top: 97%!important;
  height: 80px;
}
.nav > li.dropdown.open {
    position: static;
  }

  .nav > li.dropdown.open {
    position: static;
  }
  
  .nav > li.dropdown.open .dropdown-menu {
    display: table;
    border-radius: 0px;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
  }
  
  .dropdown-menu > li {
    display: table-cell;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
  }
  
  #navbar-button-mail:hover {
    fill : #006567!important;
    } 
  #navbar-button-search:hover {
      fill : #006567!important;
      }

  @media screen and (max-width: 767px) {
    .dropdown-menu > li {
      display: block;
    }
  }
  

#search-appear {
    height: 80px;
    margin: 0 0 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    display: flex;
    padding-left: 165px;
    padding-right: 165px;

}

.navbar.navbar-expand-lg.navbar-light.navbar-fixed-top {
    z-index: 100;
    position: fixed;
    top: 0px;
    width: 100%;
}

.navbar {

        width: auto;
        box-shadow: 0 4px 8px 0 rgba(70, 70, 70, 0.1);
        background-color: #ffffff!important;
        
}

#b2 {
width: 100%;
border: none!important;
margin-left: 22px;
height: 4rem;
}

#b2:focus {
    outline:none!important;
}
#navbar-search-input {
  width: 70%;
}

#navbar-icon-search {

    margin-top: auto;
    margin-bottom: auto;
}

.dropdown-menu  {
    display: flex;
}

.nav-link {
    margin: auto;
    font-family: 'Rajdhani', sans-serif;
    color: #00aec7!important;
    font-weight: 700;
}

#navbar-delete {
    border: none!important;
    background-color: #ffffff;
}
#navbar-delete:focus {
    outline: none;
}

#navbar-ul-style {
list-style: none;
margin: auto;
padding-left: 0px;
}

/* SEPARATORS */
.navbar-selector-before {
  width: 45px;
  height: 5px;
  background-color: #00aec7;
}

button-navbar-toggler {
    outline: none!important;
    border-color: none!important;
}


@media all and (max-width: 990px) {

    .d-flex {
        flex-direction: column;
    }

    .d-flex > a.nav-link {
        
        margin: 0px;
        padding-left: 0px;
    }
    #search-appear {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}

@media all and (min-width: 1400px) {
.navbar>.container-fluid {

    margin-right: 165px;
    margin-left: 165px;
}
}

/* CAROUSEL ////////////////////////////////////////////////////////////////////////////////////////*/

/* external css: flickity.css */

  .gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    width: 100%;
    height: 300px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }

  .flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: 20px!important;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}


  /* HOME - MAIN /////////////////////////////////////////////////////////////////////////////////*/

  .home-main {
      margin-top: 80px;
      margin-left: 165px;
      margin-right: 165px;

      height: 1000px;
  }

  /* FIRST BLOC IMAGES /////////////////////////////////////////////////////////////////////////*/
  .home-infos {
    display: flex;
    justify-content: space-between;


  }

  .home-images-first-bloc {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 166px;
  }



  #nav input {

    position: static;
    margin-left: -400px;
}

#nav button {

    position: static;
    margin-left: -1px;
    height: 35px;
}